.searchWrap {
    .ms-CommandBar{
        float: right;
        background-color: #ffffff!important;
        .ms-CommandBarSearch{
            border-right: none!important;
            float: right!important;
        }
    }
}