.header-wrap {

    .logoBox {
        width: 220px;
        float: left;
    }

    .settingsWrap {
        float:right;

    }

}
// .head-nav-wrap {
//     min-height: 6px;
//     background-color: $ms-color-themePrimary;
//     clear: both;
// }
    
    
// @media(max-width: $ms-screen-max-sm){
//     .header-wrap {

//             .logoBox {
//                 width: 50px;
//                 height: 50px;
//                 float: left;
//             }

//             .settingsWrap {
//                 float:right;

//             }

//         }
// }
// @media(min-width: $ms-screen-min-xl){

// }
// @media(min-width: $ms-screen-min-lg){

// }
// @media (max-width: $ms-screen-max-lg) {

// }
// @media (max-width: $ms-screen-max-md) {

// }
// @media (min-width: $ms-screen-min-md) {

// }

// @media (min-width: $ms-screen-md-min) {

// }