$wd-color-wdPurple: #8991C8 !default;
$wd-color-wdGreen:  #81BD41 !default;
$wd-color-wdOrange: #F78C26 !default;


//== Theme Colors
//
// $ms-color-themeDarker:     #004578 !default;
// $ms-color-themeDark:       #005a9e !default;
// $ms-color-themeDarkAlt:    #106ebe !default;
// $ms-color-themePrimary:    #0078d7 !default;
// $ms-color-themeSecondary:  #2488d8 !default;
// $ms-color-themeTertiary:   #69afe5 !default;
// $ms-color-themeLight:      #b3d6f2 !default;
// $ms-color-themeLighter:    #deecf9 !default;
// $ms-color-themeLighterAlt: #eff6fc !default;

// WD wdblue Theme
$ms-color-themeDarker:     #1b334b !default;
$ms-color-themeDark:       #284d71 !default;
$ms-color-themeDarkAlt:    #3c73aa !default;
$ms-color-themePrimary:    #6496c8 !default;
$ms-color-themeSecondary:  #7ba6d1 !default;
$ms-color-themeTertiary:   #a1bfde !default;
$ms-color-themeLight:      #b4cce4 !default;
$ms-color-themeLighter:    #c6d9eb !default;
$ms-color-themeLighterAlt: #ecf2f8 !default;

$wd-blue-themeDarker:     #1b334b !default;
$wd-blue-themeDark:       #284d71 !default;
$wd-blue-themeDarkAlt:    #3c73aa !default;
$wd-blue-themePrimary:    #6496c8 !default;
$wd-blue-themeSecondary:  #7ba6d1 !default;
$wd-blue-themeTertiary:   #a1bfde !default;
$wd-blue-themeLight:      #b4cce4 !default;
$wd-blue-themeLighter:    #c6d9eb !default;
$wd-blue-themeLighterAlt: #ecf2f8 !default;

// WD Purple Theme
// $ms-color-themeDarker:     #414b8b !default;
// $ms-color-themeDark:       #525ead !default;
// $ms-color-themeDarkAlt:    #747ebe !default;
// $ms-color-themePrimary:    #8991C8 !default;
// $ms-color-themeSecondary:  #a8aed6 !default;
// $ms-color-themeTertiary:   #babfde !default;
// $ms-color-themeLight:      #cbcfe7 !default;
// $ms-color-themeLighter:    #dcdfef !default;
// $ms-color-themeLighterAlt: #eeeff7 !default;

$wd-purple-themeDarker:     #414b8b !default;
$wd-purple-themeDark:       #525ead !default;
$wd-purple-themeDarkAlt:    #747ebe !default;
$wd-purple-themePrimary:    #8991C8 !default;
$wd-purple-themeSecondary:  #a8aed6 !default;
$wd-purple-themeTertiary:   #babfde !default;
$wd-purple-themeLight:      #cbcfe7 !default;
$wd-purple-themeLighter:    #dcdfef !default;
$wd-purple-themeLighterAlt: #eeeff7 !default;

// WD Grey Theme
// $ms-color-themeDarker:     #222222 !default;
// $ms-color-themeDark:       #333333 !default;
// $ms-color-themeDarkAlt:    #595959 !default;
// $ms-color-themePrimary:    #808080 !default;
// $ms-color-themeSecondary:  #999999 !default;
// $ms-color-themeTertiary:   #b3b3b3 !default;
// $ms-color-themeLight:      #cccccc !default;
// $ms-color-themeLighter:    #e6e6e6 !default;
// $ms-color-themeLighterAlt: #f2f2f2 !default;

$wd-grey-themeDarker:     #222222 !default;
$wd-grey-themeDark:       #333333 !default;
$wd-grey-themeDarkAlt:    #595959 !default;
$wd-grey-themePrimary:    #808080 !default;
$wd-grey-themeSecondary:  #999999 !default;
$wd-grey-themeTertiary:   #b3b3b3 !default;
$wd-grey-themeLight:      #cccccc !default;
$wd-grey-themeLighter:    #e6e6e6 !default;
$wd-grey-themeLighterAlt: #f2f2f2 !default;

// WD Green Theme
// $ms-color-themeDarker:     #415f21 !default;
// $ms-color-themeDark:       #4e7227 !default;
// $ms-color-themeDarkAlt:    #689834 !default;
// $ms-color-themePrimary:    #81bd41 !default;
// $ms-color-themeSecondary:  #9bcb67 !default;
// $ms-color-themeTertiary:   #b4d88d !default;
// $ms-color-themeLight:      #cde5b3 !default;
// $ms-color-themeLighter:    #d9ebc6 !default;
// $ms-color-themeLighterAlt: #f2f8ec !default;

$wd-green-themeDarker:     #415f21 !default;
$wd-green-themeDark:       #4e7227 !default;
$wd-green-themeDarkAlt:    #689834 !default;
$wd-green-themePrimary:    #81bd41 !default;
$wd-green-themeSecondary:  #9bcb67 !default;
$wd-green-themeTertiary:   #b4d88d !default;
$wd-green-themeLight:      #cde5b3 !default;
$wd-green-themeLighter:    #d9ebc6 !default;
$wd-green-themeLighterAlt: #f2f8ec !default;

// WD Orange Theme
// $ms-color-themeDarker:     #944a05 !default;
// $ms-color-themeDark:       #c56307 !default;
// $ms-color-themeDarkAlt:    #f67c09 !default;
// $ms-color-themePrimary:    #f78c26 !default;
// $ms-color-themeSecondary:  #f9a353 !default;
// $ms-color-themeTertiary:   #fab06b !default;
// $ms-color-themeLight:      #fbca9d !default;
// $ms-color-themeLighter:    #fcd8b5 !default;
// $ms-color-themeLighterAlt: #fef2e6 !default;

$wd-orange-themeDarker:     #944a05 !default;
$wd-orange-themeDark:       #c56307 !default;
$wd-orange-themeDarkAlt:    #f67c09 !default;
$wd-orange-themePrimary:    #f78c26 !default;
$wd-orange-themeSecondary:  #f9a353 !default;
$wd-orange-themeTertiary:   #fab06b !default;
$wd-orange-themeLight:      #fbca9d !default;
$wd-orange-themeLighter:    #fcd8b5 !default;
$wd-orange-themeLighterAlt: #fef2e6 !default;

//== Grayscale Colors
//
$ms-color-black:                 #000000 !default;
$ms-color-neutralDark:           #212121 !default;
$ms-color-neutralPrimary:        #333333 !default;
$ms-color-neutralPrimaryAlt:     #3C3C3C !default;
$ms-color-neutralSecondary:      #666666 !default;
$ms-color-neutralSecondaryAlt:   #767676 !default;
$ms-color-neutralTertiary:       #a6a6a6 !default;
$ms-color-neutralTertiaryAlt:    #c8c8c8 !default;
$ms-color-neutralQuaternary:     #d0d0d0 !default;
$ms-color-neutralQuaternaryAlt:  #dadada !default;
$ms-color-neutralLight:          #eaeaea !default;
$ms-color-neutralLighter:        #f4f4f4 !default;
$ms-color-neutralLighterAlt:     #f8f8f8 !default;
$ms-color-white:                 #ffffff !default;

//== Translucent Colors
//
$ms-color-blackTranslucent40:  rgba(0,0,0,.4) !default;
$ms-color-whiteTranslucent40:  rgba(255,255,255,.4) !default;


//== Core brand and accent colors
//
$ms-color-yellow:        #ffb900 !default;
$ms-color-yellowLight:   #fff100 !default;
$ms-color-orange:        #d83b01 !default;
$ms-color-orangeLight:   #ea4300 !default;
$ms-color-orangeLighter: #ff8c00 !default;
$ms-color-redDark:       #a80000 !default;
$ms-color-red:           #e81123 !default;
$ms-color-magentaDark:   #5c005c !default;
$ms-color-magenta:       #b4009e !default;
$ms-color-magentaLight:  #e3008c !default;
$ms-color-purpleDark:    #32145a !default;
$ms-color-purple:        #5c2d91 !default;
$ms-color-purpleLight:   #b4a0ff !default;
$ms-color-blueDark:      #002050 !default;
$ms-color-blueMid:       #00188f !default;
$ms-color-blue:          #0078d7 !default;
$ms-color-blueLight:     #00bcf2 !default;
$ms-color-tealDark:      #004b50 !default;
$ms-color-teal:          #008272 !default;
$ms-color-tealLight:     #00b294 !default;
$ms-color-greenDark:     #004b1c !default;
$ms-color-green:         #107c10 !default;
$ms-color-greenLight:    #bad80a !default;


//== Message colors
//
$ms-color-info:              $ms-color-neutralSecondaryAlt !default;
$ms-color-infoBackground:    $ms-color-neutralLighter !default;
$ms-color-success:           $ms-color-green !default;
$ms-color-successBackground: #dff6dd !default;
$ms-color-severeWarning:     $ms-color-orange !default;
$ms-color-severeWarningBackground: #fed9cc !default;
$ms-color-alert:             $ms-color-severeWarning !default;   // Deprecated: Use $ms-color-severeWarning
$ms-color-alertBackground:   $ms-color-severeWarningBackground !default; // Deprecated: Use $ms-color-severeWarningBackground
$ms-color-warning:           $ms-color-neutralSecondaryAlt !default;
$ms-color-warningBackground: #fff4ce !default;
$ms-color-error:             $ms-color-redDark !default;
$ms-color-errorBackground:   #fde7e9 !default;


//== High contrast colors
//
$ms-color-contrastBlackDisabled: #00ff00 !default;
$ms-color-contrastWhiteDisabled: #600000 !default;
$ms-color-contrastBlackSelected: #1AEBFF !default;
$ms-color-contrastWhiteSelected: #37006E !default;
